body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    text-align: center;
    background-color: #f0f0f0;
}

header {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 1000;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

header a {
    color: #fff; /* アプリ名と同じ白色にする */
    text-decoration: none;
    margin: 0 10px;
}

header a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 20px 60px; /* Adjust padding to account for fixed header and error messages */
    width: 100%;
    box-sizing: border-box;
}

section {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Ensure form takes full width of section */
    box-sizing: border-box;
}

form div {
    margin-bottom: 15px;
    width: 100%;
}

label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

input[type="text"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #555;
}

a {
    color: rgb(80 80 255);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin: 15px 0 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
    color: #333;
    cursor: pointer; /* Add cursor pointer for sorting headers */
}

th.sorted-asc::after {
    content: ' ▲';
}

th.sorted-desc::after {
    content: ' ▼';
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

/* エラーメッセージのスタイル */
.error-messages {
    margin-top: 20px;
    padding: 10px;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
    border-radius: 5px;
}

.error-messages ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.error-messages li {
    margin: 0;
    padding: 5px 0;
}
